# User preferences
.DS_Store

# Dependencies
node_modules/

# Builds / Caches
dist/

# Logs
npm-debug.log
debug
.clinic

# IDEs / Editors
.devcontainer/
.vscode/*
!.vscode/extensions.json
.idea/
*.code-workspace
.history/
*.sublime-settings
.*.swp